.mandatory {
    color: red;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.divider {
    // border-bottom: 1px solid #000;
     width: 100%;
    margin: 10px;
}

.invalid-element {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}